<?xml version="1.0" ?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         bootstrap="./PHPUnit/bootstrap.php"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
    <php>
        <ini name="display_errors" value="On" />
        <ini name="error_reporting" value="24575" />
        <env name="TESTS_SLURP_DBADAPTER_MYSQL_ENABLED" value="true" />
        <env name="TESTS_SLURP_DBADAPTER_MYSQL_HOST" value="mysql" />
        <env name="TESTS_SLURP_DBADAPTER_MYSQL_USERNAME" value="root" />
        <env name="TESTS_SLURP_DBADAPTER_MYSQL_PASSWORD" value="" />
        <env name="TESTS_SLURP_DBADAPTER_MYSQL_PORT" value="3306" />
        <env name="TESTS_SLURP_DBADAPTER_MYSQL_DATABASE" value="slurp_testing" />
    </php>
    <testsuites>
        <testsuite name="unit_tests">
            <directory>./tests/Slurp/</directory>
        </testsuite>
        <testsuite name="functional_tests">
            <directory>./tests/functional/</directory>
        </testsuite>
    </testsuites>
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">./src/</directory>
        </include>
    </coverage>
</phpunit>
