<?xml version="1.0" ?>
<phpunit bootstrap="./PHPUnit/bootstrap.php">
    <php>
        <ini name="display_errors" value="On" />
        <ini name="error_reporting" value="E_ALL" />
    </php>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src/</directory>
        </whitelist>
    </filter>
</phpunit>